asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.3
gunicorn==20.1.0
sqlparse==0.4.2
tzdata==2022.1
whitenoise==6.0.0
wsgiref==0.1.2
pycrypto==2.6
pylint==0.27.0
python-dateutil==1.5
python-openid==2.2.5
django-extensions==1.1.1